@using Ofgem.Web.GBI.InternalPortal.Infrastructure.Services;
@using Ofgem.Web.GBI.InternalPortal.Domain.Models;
@using Ofgem.Web.GBI.InternalPortal.UI.Services;
@model IEnumerable<UserDetailModel>

<style>
    td {
        word-break: break-all;
    }
</style>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<table class="govuk-table ofgem-table--fixed" data-test-id="external-user-list-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Existing external users</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Supplier</th>
            <th scope="col" class="govuk-table__header">First name</th>
            <th scope="col" class="govuk-table__header">Last name</th>
            <th scope="col" class="govuk-table__header">Email address</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header" style="text-align:right">Action</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model != null)
        {
            var userlist = Model.OrderBy(user => user.Supplier.SupplierName).ThenBy(user => user.FirstName).ToList();
            foreach (var user in userlist)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-test-id="supplier-name-table-cell">@user.Supplier.SupplierName</td>
                    <td class="govuk-table__cell" data-test-id="first-name-table-cell">@user.FirstName</td>
                    <td class="govuk-table__cell" data-test-id="last-name-table-cell">@user.LastName</td>
                    <td class="govuk-table__cell" data-test-id="email-address-table-cell">@user.EmailAddress</td>
                    <td class="govuk-table__cell" data-test-id="status-table-cell">@user.Status</td>
                    <td class="govuk-table__cell" data-test-id="link-externaluserview-table-cell" style="text-align:right"><a href="@ConstantsService.ExternalUserViewPage?id=@user.ExternalUserId">View</a></td>
                </tr>
            }
        }
    </tbody>
</table>